<!DOCTYPE html>
<html>
    <head>
        <title>Liste des posts</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        
    </head>

    <body>
        <div>
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                   
                    <a href="/posts/create" class="btn btn-primary">Ajouter un post</a>
                    <a href="/users/create" class="btn btn-primary">Ajouter un utilisateur</a>
                </div>
            </nav>
        </div>
    
        <div class="container" style="margin-top: 50px;">
            <div class="col-md-9">
                <h3>liste des posts:</h3>
                <div id="posts">
                    {% for post in posts %}
                    <div class="card">
                        <div class="card-header">
                            <p><a href="/posts/{{ post.user_id }}">{{ post.user.name }}</a></p>
                            <p><a href="/posts/{{ post.titre }}">{{ post.titre }}</a></p>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="card-text"> {{ post.resume }}</p>
                                <p class="card-text"> {{ post.content }}</p>
                                <footer class="blockquote-footer">{% if post.date %}Date: {{ post.date.strftime("%d/%m/%Y, %H:%M:%S") }} - {% endif %}<a href="/posts/{{ post.id }}/edit">Modifier</a></footer>
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>